%h1= @user.name
%p= image_tag @user.avatar
Followers:
%p.followers= @user.followers.count

Following:
%p.following= @user.following.count

%p= render 'follow_form' if signed_in?

- @my_favorite_posts.each do |post|
	= render 'posts/post_list', post: post