= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :video
    = f.input :vembed
    = f.input :content
    = f.input :type_list
    = f.input :site_list
    = image_tag(@post.image_url) if @post.image?
    = f.file_field :image
    = f.hidden_field :image_cache

  .form-actions
    = f.button :submit
