= simple_form_for(@post) do |f|
    = f.error_notification

    .form-inputs
        = f.input :title, :placeholder => "Catchy Title for the Feed"
        = f.input :teaser, :placeholder => "Add a Irresistable Teaser for the Feed"
        = f.input :direct, label: "Enter the URL of the Funny", :placeholder => "include the http"
    * Select The Type of Media
    %br 
    .media_select= f.select :filter_list, @media, :prompt => "Select Media"
    #dynamic_form
        .form_video
            %h5 Video
            = f.input :vembed, :placeholder => "Video Iframe Embed Code (h=600 w=400)"
        .form_written
            %h5 Written Content
            = f.input :content, :placeholder => "Only Use for Written Humor"
        .form_image
            %h5 Image
            = image_tag(@post.image_url) if @post.image?
            = f.file_field :image
            = f.hidden_field :image_cache
        .form_audio
            %h5 Audio

        .form_twitter
            %h5 Twitter
            = image_tag(@post.image_url) if @post.image?
            = f.file_field :image
            = f.hidden_field :image_cache
    %h4 Now, Tag the Content to Make it Useful
    = f.input :site_list, label: "Top Level URL", :placeholder => "i.e. wwww.youtube.com"
    = f.input :creator_list, label: "Tag the Creators", :placeholder => "i.e. Tim & Eric or Jon Stewart"
    = f.input :type_list, label: "Any Extra Tags",:placeholder => "General Tags (comma seperated)"
    .form-actions
        = f.button :submit
