- if post
	=render "posts/post_data", post: post
	- if post.filter_list == ["video"]
		= render 'posts/video', post: post
	- elsif post.filter_list == ["written"]
		= render 'posts/content', post: post
	- elsif post.filter_list == ["image"]
		= render 'posts/image', post: post
	- elsif post.filter_list == ["twitter"]
		= render 'posts/image', post: post
	- elsif post.filter_list == ["audio"]
		= render 'posts/video', post: post
	%br
	.listitemborderposts
- else
	There are no popular posts this week. We suck! Sorry.