- if post
	=render "posts/post_data", post: post
	- if post.filter_list == ["Video"]
		= render 'posts/video', post: post
	- elsif post.filter_list == ["Written"]
		= render 'posts/content', post: post
	- elsif post.filter_list == ["Image"]
		= render 'posts/image', post: post
	- elsif post.filter_list == ["Twitter"]
		= render 'posts/image', post: post
	- elsif post.filter_list == ["Audio"]
		= render 'posts/video', post: post
	%br
	.listitemborderposts
- else
	There are no popular posts this week. We suck! Sorry.