.post_metadata{class: post.id }
	.post_thumbnail.rounded.left
		= link_to render("posts/thumbnail", post: post), post
	.basic_data.left
		%h4.drop{data: {post: post.id} }= link_to post.title, 'javascript:'
		%p
			By 
			%b=post.creator_list
		%p= post.teaser
	- if current_user
		- if current_user.admin
			= link_to 'Edit', edit_post_path(post)
			= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
	.social_data.left
		= render "posts/favorite_on_list_form", post: post
	.clear
	%p
	.show_hide_wrapper
		%button.rounded.show_hide{data: {post: post.id} }
			- if post.filter_list == ["video"] || ["Video"]
				Watch Video
			- elsif post.filter_list == ["written"] || ["Written"]
				Read More
			- elsif post.filter_list == ["image"] || ["Image"]
				View Image
			- elsif post.filter_list == ["twitter"] || ["Twitter"]
				View Tweet
			- elsif post.filter_list == ["audio"] || ["Audio"]
				Listen
			- else
				More
			
	.clear