- @posts.each do |post|
  %p= link_to post.title, post
  %p= post.video
  %p= post.content
  %br
  - if current_user
    - if current_user.admin
      %p= link_to 'Edit', edit_post_path(post)
      %p= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
- if current_user
  - if current_user.admin
    = link_to 'New Post', new_post_path



