%h3= "Latest #{@filter_type.titlecase} Comedy Posts"

= render "tabselection"
	
		

- @posts.each do |post|
	= render 'post_list', post: post
=will_paginate @posts
- if current_user
	- if current_user.admin
		= link_to 'New Post', new_post_path



