%h3= "Most Popular #{@filter_type.titlecase} Posts"

= render "populartabs"


- @posts.each do |post|
  = render 'post_list', post: post
= will_paginate @posts
- if current_user
  - if current_user.admin
    = link_to 'New Post', new_post_path