- if !@post.image.blank? 
  %p 
    = image_tag @post.image
    = @post.image.file.exists?
%p
  %b Title:
  = @post.title
%p
  %b Video:
  = @post.video
%p
  %b Content:
  = @post.content
%p
  %b Publish:
  = @post.publish

= render "favorite_form"

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
