<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hehe Machine" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span9">
              <%= render 'layouts/messages' %>
              <% unless current_user%>
                <%= render 'layouts/welcome_agenda'%>
              <% end %>
              <%= yield %>
            </div>
            <div class="span3" style="background-color:#FAFAFA;height:800px;text-align:center;">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- hehemachine square -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:200px;height:200px"
                   data-ad-client="ca-pub-0370939253760948"
                   data-ad-slot="6375698846"></ins>

              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <div class="fake_banner">
                <%= image_tag 'onlineedu_banner.png' %>
              </div>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>